<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ripple Effect</title>
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="static/js/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="{% url 'home' %}">Ripple Effect</a>
            </div>
            <ul>
                <li><a href="{% url 'protected_areas' %}">Protected Areas</a></li>
                <li><a href="{% url 'endangered_species' %}">Endangered Species</a></li>
                <li><a href="{% url 'conservation_initiatives' %}">Conservation</a></li>
                <li><a href="{% url 'get_involved' %}">Get Involved</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="footer-content">
          <p>&copy; 2024 Ripple Effect. All rights reserved.</p>
          <div class="social-icons">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
      </footer>
</body>
</html>